/* global styles */

:root {
  /* colors  */
  --clr-primary: #8b4812;
  --clr-light: white;
  --clr-dark: black;
  --dk-green: #1c6102;
  --lt-green: #6ca32c;
  --quote-bg: #b68a21;
  --card-bg: #dbd6b6;

  /* font weight  */
  --fw-reg: 400;
  --fw-bold: 700;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

body,
html {
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
  background: none;
}

.wrapper{
  margin: 1.3rem;
  background: none;
}